@font-face {
  font-family: "hack";
  src: url("../fonts/hack-regular-subset.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  unicode-range: U+0000-007F; /* Basic Latin */
}

@font-face {
  font-family: "hack";
  src: url("../fonts/hack-italic-subset.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  unicode-range: U+0000-007F; /* Basic Latin */
}

/* Fallback for emojis */
@font-face {
  font-family: "hack";
  src: local("Segoe UI Emoji"), local("Apple Color Emoji"), local("Noto Color Emoji"), sans-serif;
  unicode-range: U+1F1E6-1F1FF; /* Regional Indicator Symbols for flags */
}
